<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Coronavirus Tracker Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
<div class="container">


    <div class="table">
        <table>
            <thead>
            <tr>
                <th>Stock</th>
                <th>Stock Price</th>
                <th>Gross Dividend</th>
                <th>Dividend Yield</th>
                <th>Efficiency</th>
                <th>Monthly Income</th>
            </tr>
    <tr th:each="stockStat : ${stocks}">
        <td th:text="${stockStat.stockName}"></td>
        <td th:text="${stockStat.stockPrice}"></td>
        <td th:text="${stockStat.stockAnnualYield}"></td>
    </tr>
</table>
</div>
</div>

</body>

</html>