@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
@import "reboot";

// Container
.container {
  @extend %flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: $bgcolor;
  color: white;
}

// Header
.header {
  @extend %flex;
  gap: 2rem;
  position: fixed;
  top: 1rem;
  right: 1rem;
}

// Language
.lang {
  @extend %flex;
  gap: 0.5rem;

  a {
    @extend %flex;
    font-size: 0.75rem;
    width: 1.75rem;
    height: 1.75rem;
    border: $border;
    border-radius: 50%;
    transition: 0.5s all;

    &:hover {
      border-color: $yellow;
    }
  }
}

// Dolar
.dolar {
  @extend %flex;
  gap: 0.5rem;
  width: 5rem;
  height: 2rem;
  border: $border;
  border-radius: 0.5rem;
}

// Table
.table {
  width: 75%;
  max-height: 75%;
  overflow: auto;
  padding: 1rem;
  border: $border;
  border-radius: 1rem;
  font-size: 1.5rem;

  table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;

    th,
    td {
      height: 3rem;
      border-style: none solid solid none;
      border-color: $blue2;
      border-width: 1px;
      padding: 0.5rem;
    }

    th:last-child,
    td:last-child {
      border-right: none;
    }

    tr {
      z-index: 0;

      &:last-child {
        td {
          border-bottom: none;
        }
      }
    }
  }
}

// Github
.github {
  display: flex;
  gap: 1rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;

  * {
    transition: 0.75s all;
  }

  a {
    color: white;
    font-size: 1.5rem;

    &:hover {
      color: $yellow;

      + p {
        opacity: 1;
      }
    }
  }

  p {
    position: fixed;
    bottom: 1.25rem;
    right: 6rem;
    font-size: 1rem;
    color: $yellow;
    opacity: 0;
  }
}
