
// Colors
$navy: #022c43;
$blue1: #053f5e;
$blue2: #115173;
$yellow: #ffd700;
$maroon: #A10035;
$black: #000000;
$white: #eeeeee;
$gray: #cccccc;

// Light Theme
$bg-light: linear-gradient($white 0%, $gray 100%);
$text-light: $navy;
$border-light: $blue1;
$hover-light: $maroon;
$scroll-light: $gray;

// Dark Theme
$bg-dark: linear-gradient($navy 0%, $black 100%);
$text-dark: $white;
$border-dark: $blue2;
$hover-dark: $yellow;
$scroll-dark: $navy;